@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Lato:ital,wght@1,400&family=Lustria&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #252323;
}

body {
    background-color: #DAAE6C;
}

h1 {
    font-family: "Cabin", sans-serif;
    color: #0244A1;
    font-size: 7.5vw;
}

h2 {
    font-family: "Cabin", sans-serif;
    font-size: 3vw;
}

h3{
    font-family: Helvetica, sans-serif;
    font-size: 1.7vw;
}

h4 {
    font-family: "Cabin", sans-serif;
    font-size: 2vw;
    font-style: italic;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 25vw 75vw;
    grid-template-rows: 30vh 60vh 10vh;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nav {
    background-color: #C4361B;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav a {
    font-family: "Cabin", sans-serif;
    color: #252323;
    font-size: 3vw;
    text-decoration: none;
    margin-bottom: 5vh;
}

nav a:hover {
    background-color: #FFB10A;
    font-style: italic;
    padding-left: 2vw;
    padding-right: 2.5vw;
}

header, 
.content, 
footer {
    padding-left: 9vw;
}

header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-top: 5vh;
    padding-bottom: 20vh;
    margin-top: 10vh;
    margin-bottom: 50vh;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-top: 5vh;
    width: 70vw;
}

footer {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    align-items: flex-end;
    padding-bottom: 1vh;
    font-size: 1vw;
}
